@import 'tailwindcss';
@plugin  "tailwindcss-primeui";
@import 'primeicons/primeicons.css';


@theme {
    --color-main: #410445;
    --color-secondary: #410445;
    --color-trinary: #B1B2FF;
    --color-forth: #410445;
  }

  body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  